.traineesContainer{
    padding: 10px;
    flex: 4;
    background-color: #fff3da;
    color: black;
    h1{
        color: black;
    }
    .tableContainer{
        width: 100%;
        border-radius: 15px;
        height: 100%;
        max-height: 500px;
        background-color: white;
        overflow-y: scroll;
    }

    .filterContainer{
        display: flex;
        justify-content: flex-end;
        .searchContainer {
            position: relative;
            display: flex;
            align-items: center;
            max-width: 200px;
            min-height: 50px;
            margin: 10px;
        }
        
        input[type="text"] {
            background-color: white;
            max-width: 200px;
            border: 1px solid grey;
            height: 30px;
            border-radius: 15px;
            font-size: 12px;
            color: grey;
            width: 100%;
            padding: 10px;
            padding-right: 30px; 
            box-sizing: border-box;
        }
        
        .searchIcon {
            background-color: #002868;
            width: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30px;
            border-radius: 0 15px 15px 0;
            position: absolute;
            right: 0px;
            pointer-events: none; 
            img{
                max-width: 12px;
            }
        }
        
    }
    
}

.traineeAdd{
    background-color: #002b71;
    min-width: 35px;
    max-width: 55px;
    max-height: 55px;
    min-height: 35px;
    display: flex;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
}

.traineeAdd:hover{
 background-color: #0766ff;
 cursor: pointer;
}