.profileContainer{
    flex: 4;
    padding: 20px;
    display: flex;
    align-items: center;
    background-color: #fff3da;
    justify-content: flex-start;
    flex-direction: column;
    .userProfileContainer{
        height: 225px;
        background-color: rgb(243, 243, 243);
        color: black;
        width: 100%;
        padding: 5px;
        border-radius: 20px;
        display: grid;
        grid-template-columns: 200px auto;
        gap: 5px;
        .profileDetails{
            background-color: white;
            width: 200px;
            height: 100%;
            display: flex;
            border-radius: 10px;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            .userProfileAvatar{
                width: 150px;
                height: 150px;
                border-radius: 100%;
                background-color: #002e9b;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                span{
                    color: white;
                    font-size: 24px;
                }
            }

            .userProfileName{
                font-weight: bold;
            }
        }

        .profileInformation{
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 2px;
            .infoRowTitle{
                color: grey;
                font-size: 12px;
            }
            .infoRow{
                background-color: white;
                padding: 10px;
                border-radius: 0 10px 10px 0;
                height: 55px;
                display: flex;
                gap: 5px;
               
                flex-direction: column;
                .infoRowDetails{
                    display: grid;
                    grid-template-columns: 33% 33% 33%;
                }
                .detail{
                    display: flex;
                    gap: 20px;
                    font-size: 14px;
                    .title{
                        color: grey;
                    }
                    .info{
                        font-weight: bold;
                        color: black;
                    }
                }
            }
        }
    }
}
