.dashboardContainer{
    flex: 4;
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: #fff3da;
    justify-content: center;
    .dashContainerItems{
        width: 100%;
        max-height: 600px;
        height: 100%;
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: space-around;
    }
}